# Object files
*.o
*.lo
*.la

# Libraries
*.lib
*.a
.libs

# Shared objects
*.so
*.so.*

# Dependencies
.dirstamp
.deps

# Automake
Makefile.in
src/Makefile
aclocal.m4
src/acinclude.m4
autom4te.cache
config.h
config.h.in
config.guess
config.log
config.status
config/
configure
libtool
src/config.sub

# Project/Eclipse
.cproject
.project

# UDA specific
/ver.txt
uda*.jar
